h1{
    border-bottom: 1px solid;
    font-weight: bold;
}
p{
    text-align: justify;
    text-indent: 50px;
}

span{
    font-weight: bold;
    color: darkcyan;
}
#dark{
    font-weight: bold;
    color: midnightblue;
}
body{
    background-color: beige;
}