<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>

<table id="products">
  <thead>

  <tr>
    <th>Ordinal Number</th>
    <th>Name</th>
    <th>Borrow</th>


  </tr>
  </thead>
  <tbody>
  <tr th:each="row,rowStat : ${bookList}">
    <td th:text="${rowStat.count}"></td>
    <td th:text="${row.name}"></td>


    <td><a th:href="@{/book/borrow/{idBook}(idBook=${row.getId()})}">Borrow</a></td>


  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>