<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.title}">Title</title>
</head>
<body>
<a href="/customers/create-customer" th:text="#{customer.heading}"></a><br>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Việt Nam</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.provinceCustomer.name}"></td>
            <td><a th:href="@{/customers/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/customers/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>