body{
    margin: 0;
}
#header{
    background: #1a1a1a;
    height: 65px;
    width: 100%;
}
#left-sidebar{
    background: darkgray;
    height: 435px;
    width: 10%;
    float: left;

}
#main{
    background: beige;
    height: 435px;
    width: 80%;
    float: left;
}
#right-sidebar{
    background: darkgray;
    height: 435px;
    width: 10%;
    float: right;
    text-align: center;

}
#footer{
    background: #1a1a1a;
    height: 65px;
    width: 100%;
    clear: both;
    text-align: center;
}
#footer p{
    font-weight: bold;
    font-size: medium;
    color: white;
    height: 65px;
    line-height: 65px;
    /*position: center;*/
}

#header li{
    height: 60px;
    position: relative;
    float: left;
    list-style: none;
    text-align: center;
}
#header li a {
    width: 60px;
    height: 25px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
}
#header ul ul li a {
    /*width: 60px;*/
    text-align: center;
    position: relative;
    left: -40px;
    color: darkgreen;
}
#header li a:hover{
    background-color: black;
}
#header ul ul{
    position: absolute;
    visibility: hidden;
}
#header ul li:hover ul{
    visibility: visible;
}
.block-sidebar{
    width: 70%;
    height: 50px;
    border: black solid 1px;
    background-color: antiquewhite;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 10px;
}