<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<table id="products" style="text-align: center">
    <tr>
        <h1 style="color: violet;text-align: center">Library</h1>
    </tr>
    <div class="notify">
        <div th:if="${codeBook}">
            <span th:text="${codeBook}"></span>
        </div>
    </div>
    <tr>
        <td>
            <button type="button" ><a href="/book/borrow">Mượn sách</a></button>
        </td>
        <td>
            <button type="button" ><a href="/book/return">Trả sách</a></button>
        </td>

    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>