<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
<p>
  <a href="/shop">Shop</a>
</p>
<h1>Your Cart</h1>
<!--<form th:action="@{/shop}" th:object="${cart}" method="post">-->
<!--  <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>-->
<!--  <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>-->
<!--  <table border="1">-->
<!--    <tr>-->
<!--      <th>Item</th>-->
<!--      <th>Quantity</th>-->
<!--      <th>Price</th>-->
<!--    </tr>-->
<!--    <tr th:each="product: ${cart.products}">-->
<!--      <td th:text="${product.getKey().name}"></td>-->
<!--      <td>-->
<!--        <a id="decrease_button" th:text="${'-'}"></a>-->
<!--        <span th:text="${product.getValue()}"></span>-->
<!--        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"-->
<!--           th:text="${'+'}"></a>-->
<!--      </td>-->
<!--      <td th:text="${product.getKey().price}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Total</td>-->
<!--      <td></td>-->
<!--      <td th:text="${cart.countTotalPayment()}"></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->


<main class="page">
  <section class="shopping-cart dark">
    <div class="container">
      <div class="block-heading">
<!--        <h2>Shopping Cart</h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
      </div>
      <div class="content">
        <div class="row">
          <th:block th:each="product: ${cart.products}" >
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row">
                  <div class="col-md-3">
                    <img class="img-fluid mx-auto d-block image" width="200" height="400" th:src="${product.getKey().img}">
                  </div>
                  <div class="col-md-8">
                    <div class="info">
                      <div class="row">
                        <div class="col-md-5 product-name">
                          <div class="product-name">
                            <a th:text="${product.getKey().name}" href="#"></a>
                            <div class="product-info">
                              <div>Price: <span th:text="${product.getKey().price}" class="value"></span></div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 quantity">
                          Quantity:
                          <a id="decrease_button" th:text="${'-'}" th:href="@{/add/__${product.getKey().id}__(action='sub')}"></a>
                                  <span th:text="${product.getValue()}"></span>
                                  <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='add')}"
                                     th:text="${'+'}"></a>
<!--                          <label for="quantity">Quantity:</label>-->
<!--                          <select id="quantity" th:field="*{product.getKey()}">-->
<!--                            <option th:href="@{/add/__${product.getKey().id}__(action='show')}" th:each="product : ${product.getKey()}" th:value="${product.}" th:text="${product.getKey().quantity}"></option>-->
<!--                          </select>-->
<!--                          <label for="quantity">Quantity:</label>-->
<!--                          <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"-->
<!--                             th:text="${'+'}"></a>-->
<!--                          <input th:attr="onclick=|@{/add/__${product.getKey().id}__(action='show')}|" id="quantity" type="number" th:value="${product.getValue()}" class="form-control quantity-input">-->
                        </div>
                        <div style="color: red" class="cart mt-4 align-items-center">
                          <td><a th:href="@{/add/__${product.getKey().id}__(action='del')}">
                            <button
                                    class="btn btn-danger text-uppercase mr-2 px-4">Cancel
                            </button>
                          </a></td>
                          <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


          </div>

        </div>
          </th:block>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <div class="summary-item"><span class="text">Total: </span><span th:text="'$'+${cart.countTotalPayment()}" class="price"></span></div>
              <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
            </div>
          </div>
      </div>
    </div>
    </div>
  </section>
</main>
</body>
</html>
