body{
    margin: 0;
}
#header{
    background: #1a1a1a;
    height: 60px;
    width: 100%;
}
#header-link{
    background: darkgreen;
    height: 40px;
    width: 100%;
}
#left-contend{
    background: darkgray;
    height: 435px;
    width: 30%;
    float: left;
}
#right-contend{
    background: darkgray;
    height: 435px;
    width: 70%;
    float: left;
}
#footer{
    background: #1a1a1a;
    height: 43px;
    width: 100%;
    clear: both;
    text-align: center;
}
img {
    float: left;
    width: 5%;
    height: 70%;
    margin-top: 10px;
    margin-left: 15px;
}