body{
    margin: 0;
}
#header{
    background: darkgray;
    height: 60px;
    width: 100%;
}
#header-link{
    background: blueviolet;
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: center;

}
#left-content{
    /*background: darkgray;*/
    height: 435px;
    width: 30%;
    float: left;
}
#left-content a:hover {
    color: red;
}
#right-content{
    background: darkgray;
    height: 435px;
    width: 70%;
    float: left;
}
#footer{
    background: darkgray;
    height: 43px;
    width: 100%;
    clear: both;
    text-align: center;
    justify-content: center;
    display: flex;
}
img {
    float: left;
    width: 10%;
    height: 70%;
    margin-top: 10px;
    margin-left: 15px;
}
#header-link ul{
    margin: 0;
}
#header-link li{
    height: 20px;
    width: 200px;
    /*position: relative;*/
    float: left;
    list-style: none;
}
#header-link li a {
    width: 200px;
    height: 20px;
    /*display: block;*/
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
p{
    margin-top: auto;
    margin-bottom: auto;
}
